<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zxt.zxt_phone">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 百度权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--7.0文件共享-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/install_apk_path"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>



        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="01CZ8Ej2Wlhf1kB4GGkSwXdRWnyxTud3" />


        <activity android:name=".view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".view.LoginActivity" />

        <!-- //网格 -->
        <activity android:name=".view.WsbsActivity" />
        <activity android:name=".view.LtjdActivity" />
        <activity android:name=".view.JcsjActivity" />

        <!-- 首页 -->
        <activity android:name=".view.ZczxActivity" />
        <activity android:name=".view.BsznActivity" />
        <activity android:name=".view.bmfw.CzjfActivity" />
        <activity android:name=".view.SqgwActivity" />
        <activity android:name=".view.BsznInfoActivity" />
        <activity android:name=".view.ZwfwActivity" />
        <activity android:name=".view.NewsListActivity" />
        <activity android:name=".view.BmfwActivity" />
        <activity android:name=".view.NewsDetailActivity" />
        <activity android:name=".view.CheckActivity" />
        <activity android:name=".view.QtfwActivity" />
        <activity android:name=".view.JgcxActivity" />
        <activity android:name=".view.YjfkcxDetailActivity" />
        <activity android:name=".view.JgcxDetailActivity" />
        <activity android:name=".view.WebViewActivity" />
        <activity android:name=".view.SuccessActivity" />
        <activity android:name=".view.KqdkActivity" />
        <activity android:name=".view.KqdkActivityCopy" />
        <activity android:name=".view.photo.ClipImageActivity" />
        <activity android:name=".view.YybsInfoActivity" />
        <activity android:name=".view.GzglActivity" />
        <activity android:name=".view.zwfw.wggl.GzrzActivity" />
        <activity android:name=".view.zwfw.wggl.AddGzrzActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity
            android:name=".view.zwfw.wggl.LevelActivity"
            android:theme="@style/android:Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".view.TimeDialogActivity"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <receiver android:name=".receiver.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.zwfw.wggl.GzrzInfoActivity" />
        <activity android:name=".view.zwfw.DqfcActivity" />
        <activity android:name=".view.zwfw.wggl.SjclActivity" />
        <activity android:name=".view.wyfw.WyggActivity" />
        <activity android:name=".view.zwfw.wggl.SjclInfoActivity" />
        <activity android:name=".view.wyfw.WyfwActivity" />
        <activity android:name=".view.wyfw.SafetyActivity" />
        <activity android:name=".view.wyfw.JftjActivity" />
        <activity android:name=".view.wyfw.PjglActivity" />
        <activity
            android:name=".view.wyfw.RepairsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.zwfw.wggl.AddSjclActivity" />
        <activity
            android:name=".view.wyfw.PjglInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.wyfw.JftjAddActivity" />
        <activity android:name=".view.zwfw.sqgk.SqgkActivity" />
        <activity android:name=".view.zwfw.dqfc.DqhdActivity" />
        <activity android:name=".view.zwfw.dqfc.ZyzfwActivity" />
        <activity android:name=".view.zwfw.dqfc.ZsdxActivity" />
        <activity
            android:name=".view.zwfw.dqfc.SjxxActivity"
            android:theme="@style/android:Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.zwfw.dqfc.SdxfActivity" />
        <activity android:name=".view.zwfw.dqfc.FfclActivity" />
        <activity android:name=".view.BsznDetailActivity" />
        <activity android:name=".view.zwfw.sqtj.SqtjActivity" />
        <activity
            android:name=".view.zwfw.sqtj.SqtjInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.zwfw.yybs.YybsActivity" />
        <activity android:name=".view.zwfw.yybs.YybsListActivity" />
        <activity android:name=".view.CaptureActivity" />
        <activity android:name=".view.zwfw.wggl.WgrxActivity" />
        <activity android:name=".view.zwfw.pasq.PasqActivity" />
        <activity android:name=".view.zwfw.pasq.SqmjActivity" />
        <activity android:name=".view.zwfw.jzbf.JzbfActivity"></activity>
    </application>

</manifest>